{% extends "material_layout.html" %}
{% block content %}
    <head>
        <meta charset="utf-8">
        
        <!-- Make sure the path to CKEditor is correct. -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.6.1/ckeditor.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.6.1/adapters/jquery.js"></script>
   
    </head>
    <body>
        <h4></h4>
        <span class="mdl-chip mdl-chip--contact">
            <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">M</span>
            <span class="mdl-chip__text">New Campaign</span>
            </span>
        <br>
        <br>

        <form action="newcampaign" method = "POST" enctype="multipart/form-data">


                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">                 
                <input class="mdl-textfield__input" type="text" id="sample3" name="subject">
                <label class="mdl-textfield__label" for="sample3">Subject...</label>
                </div >

              
                 <i class="material-icons prefix">&nbsp&nbspmode_edit</i>
                 <label for="first_name">Choose List/ Category</label>
                 
                <select name="option">
                  {% for cat in datalist %}
                      <option value="{{ cat }}">{{ cat }}</option>
                     
                  {% endfor %}
                </select>

            <textarea name="editor1" id="editor1" rows="10" cols="80">
                This is my textarea to be replaced with CKEditor.
            </textarea>
            <script>
                // Replace the <textarea id="editor1"> with a CKEditor
                // instance, using default configuration.
                CKEDITOR.replace( 'editor1' );
                

            </script>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" value="Submit" >Send</button>
        </form>

        
    </body>
{% endblock %}