{% extends "material_layout.html" %}
{% block content %}


  	<form action="newlist" method = "POST" enctype="multipart/form-data">
		  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			    <input class="mdl-textfield__input" type="text" id="sample3" name="listname">
			    <label class="mdl-textfield__label" for="sample3">List name...</label>
		  </div>

		  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" value="Submit">
			     Button
		  </button>
	</form>

{% endblock %}