{% extends "material_layout.html" %}
{% block content %}

  	 <form action="/unsubscribe" method = "POST" enctype="multipart/form-data"> 
		  
	
		<select name="category">
                  {% for cat in datalist %}
                      <option value="{{ cat }}">{{ cat }}</option>
                     
                  {% endfor %}
        </select>



		<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab " value="Submit">
			  <i class="material-icons">add</i>
		 </button>

	</form>

	<form action="/confirm_unsubscribe" method = "POST" enctype="multipart/form-data"> 
					{% for list in fullist %}
						
						<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" >
						  <input type="checkbox" id="switch-1" class="mdl-switch__input"  name="check" value="{{list}}" unchecked>
						  <span class="mdl-switch__label">{{list}}</span>
						</label>
						
					{% endfor %}

		
					
                 

		<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" value="Submit">
		  <i class="material-icons">add</i>
		</button>
	<form>
	
{% endblock %}